:root {
  color-scheme: dark;
}

body {
  background: #272822;
  color: #f8f8f2;
}

canvas {
  display: block;
  background: #1b1b17;
}

nav .btn {
  margin-right: 10px;
}

#console-output {
  font-family: monospace;
}

.ide-element {
  background: #1b1b17;
  border: 1px solid gray;
  border-radius: 5px;
  color: #f8f8f2;
}

.modal-content {
  background: #1b1b17;
}

.close {
  opacity: 1;
}
.close span {
  color: #f8f8f2;
}

.CodeMirror,
textarea {
  height: 500px;
  font-size: 14px;
}

#console-output {
  resize: none;
}

.error {
  border-color: red;
  border-style: dotted;
  border-width: 2px;
}

/* GitHub Corner Styling */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
