:root {
  color-scheme: dark;
}

body {
  background: #1b1b17;
  color: #f8f8f2;
}

.output-element-box {
  background-color: #272822 !important;
  color: #f8f8f2;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 4px;
}

.output-element {
  margin-top: 10px;
}

.CodeMirror,
textarea {
  font-size: 14px;
}

.CodeMirror {
  height: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 4px;
}

.error {
  border-color: red;
  border-style: dotted;
  border-width: 2px;
}

#canvas-title {
  display: block;
  text-align: center;
}

canvas {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#console-output {
  resize: none;
  font-family: monospace;
}

.navbar-nav .btn {
  margin-right: 10px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-content {
  background: #1b1b17;
}

.close {
  opacity: 1;
}

.close span {
  color: #f8f8f2;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

/* GitHub Corner Styling */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
